/*------------------------------------------------------

CSS overview: 

	1. RESET
	2. HEADER
	3. ENTRY BOXES
	4. COMMENTS
	5. TABS
	
---------------------------------------------------------*/

/*--------------------------------------------------
				      RESET
---------------------------------------------------*/

* { margin: 0; padding: 0px; }

body {
	background: #f1f1f1 url("../images/Patterns/concrete_wall_.png");
	padding-top: 100px;
	margin: 0;
	height: 100%;
}

html{
	-webkit-font-smoothing: antialiased;
	
}

a {
    outline: none;
}

img {
    border: 0
}

.fullwidth {
	width: 100%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #333;
}

ul, li {
	padding: 0 0 0 0;
	margin: 0;
	list-style-type: none;
	
}

p {
	line-height: 20px;
	padding: 0 0 0 0;
	margin-bottom: 22px;
	font-family: Arial;
	font-size: 12px;
	width: 100%;
	color: #888;
	margin-top: 0;
}

hr {
	border-top: transparent;
	border-bottom
}

::selection {
	background: #eee; /* Safari */
	}
::-moz-selection {
	background: #eee; /* Firefox */
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial;
	font-weight: normal;
	padding: 0 0 0 0;
	margin-top: 0;
	margin-bottom: 12px;
	margin-left: auto;
	margin-right: auto;
	color: #555;
}

h6 {
	font-size: 12px;
}

blockquote {
	border-left: 1px solid #555;
	padding: 0px 14px 0px 14px;
	margin: 0 0 0 20px;
}

blockquote p {
	font-style: italic;
	color: #555;
}

.oswald {
	font-family: 'Oswald', sans-serif;
}

/* form */

.respond h3 {
	font-family: 'Oswald', sans-serif;
}

.submit {
	width: 80px;
	height: 40px;
	background: #333;
	color: #fff;
	font-family: Arial;
	padding: 0 0 0 0 !important;
	margin-top: 20px;
	border: none;
	float: right;
	
	transition: all 0.4s;
	-moz-transition: all 0.4s; /* Firefox 4 */
	-webkit-transition: all 0.4s; /* Safari and Chrome */
	-o-transition: all 0.4s; /* Opera */
}

.submit:hover {
	width: 80px;
	height: 40px;
	background: #666;
	color: #fff;
	font-family: Arial;
	padding: 0 0 0 0 !important;
	margin-top: 20px;
	border: none;
}

label {
	font-family: Arial;
	font-size: 12px;
	color: #666;
}

input {
	height: 50px;
	width: 100%;
}

textarea {
	width: 100%;
}

input, textarea {
	padding: 14px 14px 14px 14px !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 0;
	margin-top: 6px;
	cursor: pointer;
	background: #f9f9f9;
	
	font-family: Arial;
	font-size: 12px;
	border: 1px solid #ddd;
	color: #999;
	
	transition: all 0.4s;
	-moz-transition: all 0.4s; /* Firefox 4 */
	-webkit-transition: all 0.4s; /* Safari and Chrome */
	-o-transition: all 0.4s; /* Opera */

}

input:hover {
	border: 1px solid #ccc;
}

textarea:hover {
	border: 1px solid #ccc;
}

input:focus {
	border: 1px solid #ddd;
	cursor: text;
	background: #fff;
	color: #666;
}

textarea:focus {
	border: 1px solid #ddd;
	cursor: text;
	background: #fff;
	color: #666;

}

.body-container {
	overflow: hidden;
	width: 995px;
	margin-left: auto;
	margin-right: auto;
}

.no-margin {
	margin: 0px !important;

}

.margin-bottom {
	margin-bottom: 22px;
}

.margin-top {
	margin-top: 22px;
}

.right {
	float: right;
}

.left {
	float: left;
}

#container {
	
	margin-left: auto;
	margin-right: auto;
	padding-top: 22px;
	padding-right: 22px;
	
	

}

#preloader-container {
	position: absolute;
	 top: -9999px;
	 left: -9999px;
}



/*--------------------------------------------------
				     HEADER
---------------------------------------------------*/


.welcome-container {
	height: 352px;
}
.welcome {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	padding-top: 25px;

}

.welcome h1 {
	width: 100%;
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 80px;
	color: #444;
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;
}

.welcome p {
	
	text-align: center;
	font-size: 14px;
	margin-top: -20px;
}

.navigation {	
	padding: 18px 18px 14px 18px;
	width: 100%;
	background: #333;
	position: fixed;
	top: 0;
	 z-index:100;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.selected {
	background: #A2C473 url("") no-repeat right center !important;
	color: #fff !important;
}


/*drop down */

.mobile-logo {
	display: none;
}

.mobile-logo span:after {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
	position: relative;
	top: 13px;
	margin-left: 10px;
}

.mobile-logo span {
	
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	background: #2D2D2D;
	border-radius: 5px;
	display: inline-block;
	padding: 15px 15px 15px 15px;
	color: #fff;
}

.logo {
	
	margin-right: 20px;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	background: #2D2D2D;
	border-radius: 5px;
}

.logo + li a{
	
	background-image: none !important;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

nav .nav .logo:hover {
	background: none;		
	z-index: 100;
	cursor: pointer;
}

nav {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}

nav .nav ul {
	visibility: hidden;
	opacity: 0;
	margin-left: 50px;
		
	transition: all 0.4s;
	-moz-transition: all 0.4s; /* Firefox 4 */
	-webkit-transition: all 0.4s; /* Safari and Chrome */
	-o-transition: all 0.4s; /* Opera */
	
}

nav .nav li a span {
	display: none;
	width: 100%; 
	height: 100%; 
	top: 0;
	left: 0;
	position: absolute;
}

nav ul li:hover > ul {
	visibility: visible;
	opacity: 1;
	margin-left: 0px;
}

nav .nav {
	margin-left: auto;
	margin-right: auto;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav .nav li a {
	color: #fff !important;
}
	
nav ul:after {
	content: ""; clear: both; display: block;
}

nav .nav li {
	float: left;
	transition: all 0.4s;
	-moz-transition: all 0.4s; /* Firefox 4 */
	-webkit-transition: all 0.4s; /* Safari and Chrome */
	-o-transition: all 0.4s; /* Opera */		
}

nav .nav li + li {
	background: none;	
	position: relative;
}
	
nav .nav li:hover + li a {
	background: none;	
}
	
nav .nav li:hover {
	background: #222;		
	z-index: 100;
}
		
nav .nav li:hover a {

	background: none;
	cursor: pointer;
}
		
nav .nav li a {
	display: block; padding: 15px 15px 15px 15px;
	color: #fff; text-decoration: none;
	background: url("../img/nav-divider.png") no-repeat left center;	
}
		
nav .nav li:first-child a {
	display: block; padding: 15px 15px 15px 15px;
	color: #fff; text-decoration: none;
	background: none;	
}
				
nav .nav ul {
	background: #222; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;	
}

nav .nav ul li {
	float: none; 
	position: relative;		
}

nav .nav ul li a {
	text-align: left;
	width: 150px;
	font-size: 12px;
	color: #ccc !important;
	border-bottom: 1px dashed #333;			
}	

nav .nav ul li a:hover {
	color: #fff !important;
	background: #111;
}

nav .nav ul li .selected {
	color: #fff !important;
}
		
nav .nav ul ul {
	position: absolute; left: 100%; top:0;
}
	
.nav-arrow {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	left:0;
	right:0;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	top: 85px;
	border-top: 20px solid #333;
	z-index: -1;
}



/*--------------------------------------------------
				      ENTRY BOX
---------------------------------------------------*/

.element {
	margin-bottom: 22px;
}

.no-box {
	background: none !important;
	padding: 0 0 0 0 !important;
}

.featured-stamp {
	width: 0; 
	height: 0; 

	position: absolute;	
	border-right: 80px solid transparent;
	border-top: 80px solid #333;
	z-index: 10;
}

.featured-stamp p {
	font-family: Arial;
	font-size: 10px;
	color: #fff;
	position: relative;
	top: -40px;
	left: 12px;
	
	/* Safari */
	-webkit-transform: rotate(-45deg);
	
	/* Firefox */
	-moz-transform: rotate(-45deg);
	
	/* IE */
	-ms-transform: rotate(-45deg);
	
	/* Opera */
	-o-transform: rotate(-45deg);
	
	/* Internet Explorer */
	-ms-transform:rotate(-45deg);
	
}

.entry {
	width: 100%;
	min-height: 50px;
	background: #fff;
	padding: 22px 22px 22px 22px;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.entry-video {
	height: 200px;
}

.entry ul {
	margin-left: 30px;
	margin-bottom: 8px;
}

.entry ul li {
	list-style-type: square;
	font-family: Arial;
	font-size: 12px;
	color: #666;
	line-height: 20px;
}

.entry p {
	margin-bottom: 12px;
}

.entry-image-overlay {
	width: 100%;
	display: block;
	position: absolute;
	height: 100%;
	top: 0px;
	background: url(../images/icon_cross.png), url(../images/overlay_bg.png);
	background-size:10px 10px, 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in; /* Firefox 4 */
	-webkit-transition: all 0.3s ease-in; /* Safari and Chrome */
	-o-transition: all 0.3s ease-in; /* Opera */
}

.entry-image {
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.entry-image img {

width: 100%;
margin-bottom: -6px;

}

.entry-image:hover .entry-image-overlay {
	opacity: 1;
	background-size:40px 40px, 100% 100%;
}

.entry-image:before {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	left: 50px;
	bottom: 0;
	border-bottom: 10px solid #fff;

	margin-left: auto;
	margin-right: auto;
	z-index: 3;
	
}

.entry-footer {
	background: #fff;
	height: 25px;
	width: 100%;
	position: relative;

	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.entry-footer li {
	color: #333;
	font-size: 12px;
	margin-right: 12px;
	line-height: 25px;
	opacity: 0.35;
	display: inline-block;
	cursor: pointer;

}

.entry-footer ul, entry-footer li {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.entry-footer li:hover {
	opacity: 0.6;
}

.entry-footer li a {
	text-decoration: none;
	line-height: 25px;
	color: #000;
}

.icon {
	width: 15px;
	height: 15px;
	display: inline-block;
	position: relative;
	top: 4px;
	margin-right: 6px;
}

.like {
	background: url(../images/icon_like.png) no-repeat center;
	background-size: contain;
	
}

.comment {
	background: url(../images/icon_comment.png) no-repeat center;
	background-size: contain;
}

.entry-title {
	font-size: 12px;
	font-weight: bold;
	color: #40434c;
	text-align: left;
	padding: 22px 22px 12px 22px;
	margin: 0;
}

.stripes {
	height: 8px;
	width: 100%;
	background: url("../img/stripes.png");
	position: absolute;
	bottom: 0;
	z-index: 2;
	left: 0;
}

/* ENTRY SHADOW */

.drop-shadow {
	position:relative;
    float:left;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.curved:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    
    box-shadow:20px 0 10px #d3d0cb;
    -moz-border-radius:200px / 10px;
    border-radius:100px / 10px;
    top:50;
    bottom:50;
    left:12px;
    right:12px;
    -moz-border-radius:10px / 100px;
    border-radius:20px / 100px;
}

.curved-small:before {
    top:10px;
    bottom:10px;
    left:0;
    right:50%;
    
    box-shadow:15px 0 10px #d3d0cb;
    -moz-border-radius:200px / 10px;
    border-radius:100px / 10px;
    top:50;
    bottom:50;
    left:12px;
    right:12px;
    -moz-border-radius:10px / 100px;
    border-radius:20px / 100px;
}

/*--------------------------------------------------
				      COMMENTS
---------------------------------------------------*/

.avatar {
	width: 50px;
	float: left;
}

.comments {
	width: 400px;
}

.comment-meta {
	width: 100%;
	padding: 0 0 0 0;
	margin: 0;
}

.comment-meta p {
	display: inline-block !important;
	width: 300px;
	padding: 0 0 0 0;
	margin-bottom: 12px;
	
}

.comment-body, .comment-meta {
	margin: 0 0 0 68px;
}

.comment-meta h6 {
	display: inline-block;
	padding: 0 0 0 0;
	margin: 0;
}

.reply {
	background: red;
	width: 100%;
	height: 50px;
}

/*--------------------------------------------------
				      TABS
---------------------------------------------------*/

.tab-pane {
	width: 100%;
}

.tab-content {
	padding: 22px 22px 22px 22px;
	background: #fff !important;
	position: relative;
	width: 100%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.tabs li {
	display: inline-block;
}

.tabs li a {
	font-family: Arial;
	font-size: 12px;
	color: #666;
	display: inline-block;
	background: #F7F7F7;
	padding: 15px 15px 15px 15px;
	border-top: 1px solid #fff;	
	text-align: center;
}

.tabs li a:hover {
	background: #fff;
}

.tabs .active a {
	background: #fff;
	font-weight: bold;
	border-top: 1px solid #333;

}

/*--------------------------------------------------
				      PORTFOLIO
---------------------------------------------------*/

.portfolio-nav {
	background: #ccc;
	display: block;
	height: 14px;
	width: 14px;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	float: left;
	margin-right: 6px;

}

.portfolio-nav:hover {
	background: #333;
	display: block;
	height: 14px;
	width: 14px;
	padding: 5px 5px 5px 5px;

}

/*--------------------------------------------------
				      BUTTONS
---------------------------------------------------*/

.button {
	padding: 12px 12px 12px 12px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	margin: 3px 3px 6px 3px;
}

.button-rounded {
	padding: 12px 12px 12px 12px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	margin: 3px 3px 6px 3px;
	border-radius: 5px;
}


.dark {
	background: #333;
	color: #fff;
}

.dark:hover {
	background: #000;
	color: #fff;
}

.light {
	background: #ddd;
	color: #666;
}

.light:hover {
	background: #bbb;
	color: #666;
}

.blue {
	background: #6DC9FF;
	color: #fff;
}

.blue:hover {
	background: #4AB5EF;
	color: #fff;
}

.teal {
	background: #92E2E5;
	color: #fff;
}

.teal:hover {
	background: #66D2D6;
	color: #fff;
}

.green {
	background: #A9DB6D;
	color: #fff;
}

.green:hover {
	background: #9CD354;
	color: #fff;
}

.red {
	background: #FC6B4E;
	color: #fff;
}

.red:hover {
	background: #EF5A43;
	color: #fff;
}

.orange {
	background: #F9A64D;
	color: #fff;
}

.orange:hover {
	background: #F79833;
	color: #fff;
}

.purple {
	background: #A18EE5;
	color: #fff;
}

.purple:hover {
	background: #947FE0;
	color: #fff;
}

/*--------------------------------------------------
				      SOCIAL BUTTONS
---------------------------------------------------*/

.social-button {
	opacity: 0.7;
	cursor: pointer;
	display: inline-block;
}

.social-button a {
	display: block;
}

.social-button:hover {
	opacity: 1;
}

/*--------------------------------------------------
				      FOOTER
---------------------------------------------------*/

.footer {
	width: 100%;
	height: 50px;
	margin-top: 42px;
	position: relative;
	bottom: 0;
	font-family: Arial;
	padding-bottom: 22px;
}

.footer ul, footer li {
	font-size: 11px;
	color: #999;
	line-height: 20px;
}

.footer ul {
	padding: 0px 70px 0px 70px;
}

.footer li {
	margin-right: 5px;
}


#page_nav {
	margin-top: 100px;
	margin-bottom: 50px;
	display: none;
}

#page_nav a {

	color: #fff;
	font-size: 18px;
	border-radius: 200px;
	line-height: 100px;
	height: 100px;
	width: 100px;
	display: inline-block;
	background: #333 url(../images/icon_cross.png) no-repeat center;
	background-size:30px 30px, 100% 100%;

	
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in; /* Firefox 4 */
	-webkit-transition: all 0.3s ease-in; /* Safari and Chrome */
	-o-transition: all 0.3s ease-in; /* Opera */
}

#page_nav a:hover {
	color: #fff;
	font-size: 18px;
	border-radius: 200px;
	line-height: 100px;
	height: 100px;
	width: 100px;
	display: inline-block;
	background: #000 url(../images/icon_cross.png) no-repeat center;
	background-size:30px 30px, 100% 100%;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-moz-transform:rotate(180deg); /* Firefox */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	-o-transform:rotate(180deg); /* Opera */
}


/*--------------------------------------------------
				      MISC
---------------------------------------------------*/


.highlight {
	background: #333;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

img {
	padding: 0 0 0 0;
}


/* Preloader */

#preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#f1f1f1; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
    margin-top: 75px;
}

#status {
    width:200px;
    height:200px;
    border-radius: 200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    text-align: center;
    line-height: 200px;
    font-family: 'Oswald', sans-serif;
    background: #333;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
    color: #fff;
}

/* styles for desktop */
.tinynav { 

	display: none;
	margin-left: auto;
	margin-right: auto;

}

.sbHolder {
	display: none;
}

/* styles for mobile */
@media screen and (max-width: 600px) {

	body {
		padding-top: 0;
	}
	
	.nav-arrow {
		display: none;
	}

	.navigation {
		position: relative;
	}
	
	nav .mobile-logo {
		cursor: pointer;
		color: #222;
		display: block;
		background: none;
	}
	
	nav .logo:hover {
		cursor: pointer;
		color: #000;
	}
	
	.logo {
		display: none;
	}

	nav {
		text-align: center;
		font-family: 'Oswald', sans-serif;
		font-size: 14px;
	}
	
	nav .nav ul {
		visibility: hidden;
		opacity: 0;
		margin-left: 50px;
			
		transition: all 0.4s;
		-moz-transition: all 0.4s; /* Firefox 4 */
		-webkit-transition: all 0.4s; /* Safari and Chrome */
		-o-transition: all 0.4s; /* Opera */
		
	}
	
	
	nav .nav li a span {
		display: block;
	}
	
	nav .nav li:hover > ul {
		visibility: visible;
		opacity: 1;
		margin-left: 0px;
	}
	
	nav .nav li > ul {
		visibility: visible;
		opacity: 1;
		margin-left: 0px;
	}
	
	nav .nav {
		margin-left: auto;
		margin-right: auto;
		list-style: none;
		position: relative;
		display: inline-table;
	}
	
	nav .nav li a {
		color: #fff !important;
	}
		
	nav ul:after {
		content: ""; clear: both; display: block;
	}
	
	nav .nav li {
		width: 100%;
		transition: all 0.4s;
		-moz-transition: all 0.4s; /* Firefox 4 */
		-webkit-transition: all 0.4s; /* Safari and Chrome */
		-o-transition: all 0.4s; /* Opera */		
	}
	
	nav .nav li + li {
		background: none;	
		position: relative;
	}
		
	nav .nav li:hover + li a {
		background: none;	
	}
		
	nav .nav li:hover {
		background: #222;		
		z-index: 100;
		
	}
			
	nav .nav li:hover a {
		color: #fff;
		background: none;
	}
			
	nav .nav li a {
		display: block; padding: 15px 15px 15px 15px;
		color: #fff; text-decoration: none;
		background: none;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;	
		
	}
			
	nav .nav li:first-child a {
		display: block; padding: 15px 15px 15px 15px;
		color: #fff; text-decoration: none;
		background: none;	
	}
					
	nav .nav ul {
		background: #222; border-radius: 0px; padding: 0;
		position: relative;top: 100%;	
	}
	
	nav .nav ul li {
		float: none; 
		position: relative;		
	}
	
	nav .nav ul li a {
		text-align: center;
		width: 100%;
		font-size: 12px;
		color: #ccc !important;
		border-bottom: 1px dashed #333;			
	}	
	
	nav .nav ul li a:hover {
		color: #fff !important;
		background: #111;
	}
			
	nav .nav ul ul {
		position: absolute; left: 100%; top:0;
	}
		
	.nav-arrow {
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		left:0;
		right:0;
		margin-right: auto;
		margin-left: auto;
		position: absolute;
		top: 85px;
		border-top: 20px solid #333;
		z-index: -1;
	}
	
	.collapse {
	  position: relative;
	  height: 0;
	  overflow: hidden;
	  -webkit-transition: height 0.35s ease;
	     -moz-transition: height 0.35s ease;
	       -o-transition: height 0.35s ease;
	          transition: height 0.35s ease;
	}
	
	.collapse.in {
	  height: auto;
	}

   	
 }




